<h1>Collaborators for <%= @wiki.title %></h1>

<table class="table">
    <% @users.each do |user| %>
        <tr>
            <td><%= user.email %></td>
            <td>
                <% if @wiki.users.include? user %>
                   <%= link_to "Remove Collaborator", wiki_collaborator_path(@wiki, @wiki.collaborator_for(user)), method: :delete, class: 'btn btn-danger'  %>
                <% else %>
                   <%= link_to "Add Collaborator", wiki_collaborators_path(@wiki, user_id: user.id), method: :post, class: 'btn btn-success' %>                  
                <% end %>  
            </td>
    <% end %>
    
</table>

