<h1>Collaborators for <%= @wiki.title %></h1>

<table class="table">
    <% @users.each do |user| %>
        <tr>
            <td><%= user.email %></td>
            <td>
                <% if @wiki.users.include? user %>
                   <%= link_to "Add Collaborator", wiki_collaborators_path(@wiki), class: 'btn btn-success' %>
                <% else %>
                   <%= link_to "Remove Collaborator", wiki_collaborator_path(@wiki, @wiki.collaborator_for(user)), method: :delete, class: 'btn btn-danger', data: { confirm: 'Do you want to remove Collaborator?' }  %>
                <% end %>  
            </td>
    <% end %>
    
</table>

